In [3]:
import pandas as pd

C:\Users\Haris\AppData\Local\Temp\ipykernel_764\2035458946.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### Task 1
##### Making a simple Pandas series

In [4]:
inp_data = [1, 4, 9, 6, 7]

pand_ser = pd.Series(inp_data, index = ["a", "x", "c", 2, "e"])  
pand_ser

a    1
x    4
c    9
2    6
e    7
dtype: int64

### Task 2
##### Making Pandas series using Dictionary

In [5]:
students = {"Bilal": 42, "Ayesha": 38, "Hadia": 39}

stu_ser = pd.Series(students)
stu_ser

Bilal     42
Ayesha    38
Hadia     39
dtype: int64

### Task 3

In [6]:
#Creating data

data = {
    "day": ["1/1/2017", "1/2/2017", "1/3/2017", "1/4/2017", "1/5/2017", "1/6/2017"],
    "temperature": [32, 35, 28, 24, 32, 31],
    "windspeed": [6, 7, 2, 7, 4, 2],
    "event": ["Rain", "Sunny", "Snow", "Snow", "Rain", "Sunny"]
}

#making it into a dataframe

data_frame = pd.DataFrame(data)
data_frame

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

### Task 4

In [7]:
new_index = ["a", "b", "c", "d", "e", "f"]
data_frame = pd.DataFrame(data, index=[new_index])
data_frame

        day  temperature  windspeed  event
a  1/1/2017           32          6   Rain
b  1/2/2017           35          7  Sunny
c  1/3/2017           28          2   Snow
d  1/4/2017           24          7   Snow
e  1/5/2017           32          4   Rain
f  1/6/2017           31          2  Sunny

### Task 5 Mean

In [10]:
mean_1 = data_frame['temperature'].mean()
mean_1

30.333333333333332

In [9]:
# MINIMUM
min_1 = data_frame['temperature'].min()
min_1

24

In [11]:
# MAXIMUM
max_1 = data_frame['temperature'].max()
max_1

35